@charset "utf-8";
/* CSS Document */

.menu-wrapper{
	margin-top:50px;
	width:704px;
	float:left;
	background:#a49191;
	
	}
.menu-wrapper ul/*remove ul default margin and padding*/ {
	padding:0px;
	margin:0px;
	list-style:none;
}
.menu-wrapper ul li {
	float:left;
	height:50px;
	background:grey;
	margin-left:6px;
	margin-bottom:6px;
	text-align:center;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	position:relative;
}
	
.menu-wrapper ul li a {
	color:#FFF;
	padding-top:28px;
	padding-bottom:10px;
	padding-left:8px;
	padding-right:8px;
	height:44px;
	text-decoration:none;
	display:block;
}

.menu-wrapper ul li ul{
	position:absolute;
	right:0px;
	right:0;
	display:none;
}
.active{
	width:80px;
	height:80px;
	background:blue;
	position:absolute;
	margin-left:-px;
	left:-6px;
	}
.menu-wrapper ul li:hover ul{
	display:block;
	}
.menu-wrapper ul li ul li{
	margin:0px;
	margin-top:8px;
	font-size:12px;
	margin-top:2px;
	clear:both;
	width:100%;
	z-index:2;
	}
.menu-wrapper ul li ul li a{
	height:16px;
	line-height:16px;
	display:block;
	padding:0 8px;
	font-size:12px;
	white-space:nowrap;
	/*background-color:green;*/
	width:auto !important;
	}


