@charset "utf-8";
/* CSS Document */

.menu-wrapper{
	float: left;
	margin-top: 50px;
	background: #a49191;
}
.menu-wrapper ul {
	float: left;
	height: 51px;
}
.menu-wrapper ul li {
	float: left;
	font-size: 17px;
	list-style-type: none;
	line-height: 50px;
	text-align: center;
	padding: 0px 16px 0px 16px;
	color: #FFF;
}
.menu-wrapper ul li  a{
	display:block;
	}
.menu-wrapper ul li:hover {
	background: #5a93e9;
	margin-top: -15px;
	line-height: 80px;
}
.menu-wrapper input {
	float: left;
	height: 24px;
	margin: 12px 8px 0px 8px;
}
.active{
	width:80px;
	height:80px;
	margin-top:-15px;
	background: #5a93e9;
}
/////

